*{
    font-family: 'cwTeXYen';
    font-weight: 700;
}
.background{
position: absolute;
top: 0px;
left: 0px;
width: 1194px;
height: 834px;
}
.leave{
    position: absolute;
    left: 1068px;
    top: 74px;    
}
.teeth{
    position: absolute;
    left: 371px;
    top: 129px;
}
.hand{
    position: absolute;
    left: 851px;
    top: 0px;
    animation: shake 2s ease 2s 2 forwards;
}
@keyframes shake {
    from{
        top: 0px;
        left: 851px;
    }
    to{
        top: 130px;
        left: 750px;
    }
}